@model outpost_logistics.Models.Vehicle

@{
    ViewData["Title"] = "Usuń pojazd";
}

<h1>@ViewData["Title"]</h1>

<h3>Czy na pewno chcesz usunąć wybrany pojazd?</h3>
<div>
    <h4>Pojazd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxContinuousWorkTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxContinuousWorkTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinRequiredBreakTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinRequiredBreakTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
