@model IEnumerable<outpost_logistics.Models.Vehicle>

@{
    ViewData["Title"] = "Lista pojazdów";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Dodaj pojazd</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxContinuousWorkTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinRequiredBreakTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxContinuousWorkTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinRequiredBreakTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
